@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Bem vindo ao projeto</h4>

<p>
    Selecione a ação desejada:
</p>

<ul>
    <li> <a href="/Cliente/Cadastro">Cadastrar Clientes</a> </li>
    <li> <a href="/Cliente/Consulta">Consultar Clientes</a> </li>
</ul>

