@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Exclusão de Cliente</h4>
<a href="/Cliente/Consulta">Voltar</a> para a página de consulta.
<hr/>

<div class="col-md-5">
    <div class="alert alert-danger">
        <strong>
            @ViewBag.Mensagem
        </strong>
    </div>
</div>

